/* LINK GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.menu{
    padding: 1rem 4rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.setLogin{
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.contianerApp{
    text-align: center;
}
.titleh1{
    padding: 2rem;
}
.card{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}
.card-item{
    padding: 4rem;
    background-color: #50a4f8;
    font-size: larger;
    color: white;
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
}
.btn-ToQuiz, .btn-ToCreat{
    font-size: large;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.btn-hover:hover{
    background-color: rgb(4, 116, 104);
    color: white;
    transition: 0.5s;
}
.hide{
    display: none;
}
/* ===================================================================== */
/* LIST GET DATA  */

.contianerList{
    width: 70%;
    text-align: center;
    margin:2rem auto;
}
.imgBack{
    margin-top: -0.5rem;
    margin-left: -4rem;
    float: left;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
.imgBack:hover{
    transform: scale(1.1,1.1);
}

.setList{
    list-style: none;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
}

.li-item{
    width: 90%;
    height: 20vh;
    font-size: larger;
    background-color: rgb(20, 99, 245);
    color: white;
    border-radius: 10px;
    padding: 10px;
    line-height: 2.4rem;
    cursor: pointer;
}
.span-quiz{
    color: black;
    font-weight: bolder;
}
.li-item:hover{
    background-color: blue;
   transition-duration: 0.5s;
}

.cardForm{
    width: 60%;
    box-sizing: border-box;
    margin: auto;
}
.card-header{
    height: 25vh;
    background-image: url(../img/photo.jfif);
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 1rem;
    border-radius: 10px;

}

.setForm{
    padding: 10px;
    
    box-sizing: border-box;
    border-radius: 10px;
}

.addQuizTitle{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size: larger;
    border-radius: 8px;
    border-left: 3px solid rgb(6, 10, 223);
    padding: 30px 10px;
    background-color: rgb(248, 248, 247);
}

.inputTitle{
    padding: 20px 10px;
    border: none;
    width: 90%;
    outline: none;
    margin: auto;
    border-radius: 10px;
    font-size: large;
    
}
.btnAdd{
    margin-right: 2.5rem;
    float: right;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(1, 52, 221);
}

.contentInput{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px 10px;
    padding-bottom: 4rem;
    background-color: cornsilk;
    border-radius: 10px;
    margin: 1rem 0;
    border-left: 3px solid rgb(6, 10, 223);
}
.set-input{
    width: 100%;
    padding:4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set-input input[type="text"]{
    width: 96%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: large;
}
.set-input input[type="checkbox"]{
    transform: scale(2,2);
}

.putScore{
    margin-right: -4.5rem;
    display: flex;
    align-items: center;
    font-weight: bolder;
    float: right;
}
.putScore input{
    text-align: center;
    margin: 5px;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(238, 234, 234);
    border:  none;
    outline: none;
}

.listQuestion{
    box-sizing: border-box;
    width: 59%;
    margin: auto;

}

.listQuestion h2{
    text-align: center;
    padding: 30px 15px;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.listQuestion button[type="submit"]{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    float: right;
    font-weight: bolder;
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.listQuestion button[type="submit"]:hover{
    transform: scale(1.1,1.1);
    
}

.contianerForm > .listQuestion > ul{
    display: flex;
    flex-direction: column-reverse;
}

.listQuestion .setListAdd{
    font-weight: bold;
    padding: 0;
    display: block;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    
}

.setListAdd .li-getquestion{
    border-left: 3px solid rgb(6, 10, 223);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(111, 112, 112, 0.15) 0px 0px 0px 1px;
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btnInQuest{
    border: none;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.setListAdd img{
    cursor: pointer;
    width: 30px;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  
}

.setListAdd img:hover{
    transform: scale(1,1);
    background-color: white;
}


/* =============================================================================== */
   /* PLAY QUIZ  */


/* <<<<<<<<<<<< CONTIANER QUIZ >>>>>>>>>>>>>>>>>>> */

.contianerQuiz .showInterest{
    margin-top: 4rem;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
}


#showtitle{
    font-style: italic;
    color: #007bff;
}

::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box{
    width: 640px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 650px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: grid;  
    grid-template-columns: auto auto;
    gap: 1rem;
}

section .option_list .option{
    background: rgb(250, 248, 248);
    border: 2px solid #84c5fe;
    border-radius: 5px;
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #fefffe;
    background: #03bd2e;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #fffefe;
    background: #f10115;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}




@media (max-width:750px){
    .card{
        flex-wrap: wrap;
    }
    .setList{
        display: grid;
        grid-template-columns: 55% 55%;
    }
    .cardForm{
        width: 99%;
    }
    .listQuestion{
        width: 95%;
    }
}
